@import 'jeet'

global-reset()

body
  font-family 'Roboto'  

body,
html 
  height 100%  

a
  cursor pointer
  
h1
  font-size 3em

*, *:before, *:after
  box-sizing border-box
  
//edit()
  
// Permutations
//   Header
//   Header-Fixed
//   Header, Footer
//   Header-Fixed, Footer
//   Header, Footer-Fixed
//   Header-Fixed, Footer-Fixed
//   Footer
//   Footer-Fixed

//   Article
//   Article, Aside

// Layouts

$minPad
  padding 0 15px
  
trueHeight(height)
  & > *
    line-height height
  height height

row(height)
  width 100%
  & > * 
    float left
  & > *:first-child
    @extend $minPad
  trueHeight(height)

headerFooterLayout(headerHeight, footerHeight)
  .wrapper
    position relative
    height 100%
    
    .header   
      position fixed
      row(headerHeight)
      +above(3)
        .nav-icon
          display none
    
    .main
      height 100% 
      padding headerHeight 0 footerHeight
        
    .footer
      position absolute
      bottom 0 
      row(footerHeight)

articleAsideLayout(padding)
  article,
  .left-aside,
  .right-aside  
    height 100%
    
  article
    @extend $minPad
    span(3/5)
    height 100%
    +at(3)
      span(4/5)
    +below(2)
      span(1/1)
    
  .right-aside  
    span(1/5)
    height 100%
    +below(3)
      display none    

  .left-aside
    span(1/5)
    height 100%
    a
      display block
      line-height 30px
      @extend $minPad  
    +below(2)
      position absolute
      width 75%
      height 'calc(100% - %spx)' % padding
      
    &.active
      animation expand 0.5s ease forwards 
      
    &.inactive
      animation retract 0.5s ease forwards     
      
  @keyframes expand
    from {transform: translateX(-100%)}
    to {transform: translateX()}
    
  @keyframes retract
    from {transform: translateX()}
    to {transform: translateX(-100%)}

// Positioning
 
posY(n)
  position relative
  top (n)%
  transform translateY(-(n)%)
  
// Form Elements

.btn
  cursor pointer

// Layout Build

headerHeight = 40
footerHeight = 40
msinPadding = headerHeight + footerHeight

headerPx = '%spx' % headerHeight
footerPx = '%spx' % footerHeight

headerFooterLayout(headerPx, footerPx)
articleAsideLayout(msinPadding)

// Grid

.center
  text-align center
  +above(3)
    width 100%
  
// Colors / Spec

.header
  background royalblue
  color white
      
.main
  background white
  
.left-aside
  background-color yellow + 30
  a
    background-color silver
    &:hover
      background-color green
  
.right-aside  
  background silver + 30
  
.footer
  background #333
  color white
