template(name='main')
 .main
    +leftAside
    +article
    +rightAside

template(name='leftAside')
  aside.left-aside(class='#{navClass}')
    a Button 1
    a Button 2
    a Button 3

template(name='rightAside')
  aside.right-aside Right side

template(name='article')
  article 
    h1 Article
    h2 Description
