template(name='main')
 .main.max
    +leftAside
    +article
    +rightAside

template(name='leftAside')
  aside.left-aside(class='#{navClass}')
    +nav  

template(name='rightAside')
  aside.right-aside
    h5 Proceeds to benefit
    img(src='http://joecarterclassic.com/images/JC_T2_home_03_CAF_logo.png')
    h5 Our Sponsors
    img(src='http://joecarterclassic.com/images/JC_T2_home_04.gif')
    h5 Celebrity Guests
    +guests

template(name='article')
  article
    // title shot
    .first-panel
      img(src='http://joecarterclassic.com/images/JC_T2_home_03_logo.png')

    // last year's photo
    .second-panel 

    // newsfeed

    // link to chronology   

template(name='guests')
  .guests
    p lorem ipsum
    p lorem ipsum
    p lorem ipsum
    p lorem ipsum
    p lorem ipsum
    p lorem ipsum
    p lorem ipsum
    p lorem ipsum
