template(name='main')
 .main
    +leftAside
    +article
    +rightAside

template(name='leftAside')
  aside.left-aside(class='#{navClass}')
    +nav  

template(name='rightAside')
  aside.right-aside Right side

template(name='article')
  article 
    img(src='http://joecarterclassic.com/images/JC_T2_home_03_logo.png')
