template(name='nav')
  a(href='#') HOME 
  a(href='#') DETAILS 
  a(href='#') NEWS 
  a(href='#') SPONSORS 
  a(href='#') CHARITY 
  a(href='#') ABOUT US 
  a(href='#') CONTACT US 
  a(href='#') PHOTOS 
  a(href='#') CHRONOLOGY